* {
    margin: 10px;
    padding: 10px;
    box-shadow: none;
}
body{
   background-image: url("guess.avif");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
}
.box{
     border-radius: 30px;
    box-shadow: 0 8px 32px rgba(8, 198, 251, 0.82);
    border: 1px solid rgb(243, 7, 195);
    width: 300px;
    height: auto;
    margin: auto;
    padding: 20px;
    text-align: center;
}
p{
  font-size: 25px;
    color: white;
    
}

    
